

<ion-content >
  <div class="landing-items">
    <div class="logo"><img class="img" src="assets/icon/logo.png"></div>
    <div class="header"> <div class="text"> Welcome to</div> <div class="name"> <img class="img" src="assets/icon/name.png"></div> </div>
    <div class="loader">
      <div class="box" id="a1"></div>
      <div class="box" id="a2"></div>
      <div class="box" id="a3"></div>
      <div class="box" id="a4"></div>
      <div class="box" id="a5"></div>
      <div class="box" id="a6"></div>
      <div class="box" id="a7"></div>
      <div class="box" id="a8"></div>
      <div class="box" id="a9"></div>
      <div class="box" id="a10"></div>
    </div>
  </div>

</ion-content>
